<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listar">Listar</a></li>
                <li><a href="/pesquisar">Pesquisa</a></li>
                <li><a href="/cadastrar">Cadastro</a></li>
                <li><a href="/apagar">Exclusão</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>