<h1>Apagar verdura</h1>
<form action="/apagar" method="post">
    <label for="id">Código:</label>
    <input type="text" name="id">
    {{!-- <label for="verdura">Nome da verdura:</label>
    <input type="text" name="verdura">
    <label for="quantidade">Quantidade:</label>
    <input type="text" name="quantidade">
    <label for="preco">Preço:</label>
    <input type="text" name="preco"> --}}
    <button type="submit">Apagar</button>
</form>