<head>
    <title>Cadastro</title>
</head>
<h1>Cadastro de produtos</h1><hr>
<form action="/cadastrar" method="post">
    <label for="verduras">Nome da verdura:</label>
    <input type="text" name="verduras">
    <label for="quantidade">Quantidade:</label>
    <input type="text" name="quantidade">
    <label for="preco">Preço unitário:</label>
    <input type="text" name="preco">
    <button type="submit">Cadastrar</button>
</form>