<h1>Cadastro de produtos</h1>
<form action="/cadastrar" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome">
    <br>
    <label for="qtd">Quantidade</label>
    <input type="text" name="qtd">
    <br>
    <label for="preco">Preço</label>
    <input type="text" name="preco">
    <button type="submit">cadastrar</button>
</form><br>
