<head>
    <title>Listar</title>
</head>
<h1>Listar</h1>
<hr>
{{#each valores}}
<p>Código:{{this.id}}&emsp;Produto:{{this.verduras}}&emsp;
Quantidade:{{this.quantidade}}&emsp;Preço:{{this.preco}}</p>
{{/each}}