body{
    background-color: green;
}
hr{
    height: 2px;
}
td, th{
    border: 2px dashed whitesmoke;
    font-size: 1.1rem;
}
table{
    display:inline;
    justify-self: center;
    border-collapse: collapse;
}