*{
    margin: 0%;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(141, 29, 29);
    color: #fff;
}
header{
    margin-bottom: 10px;
}
footer{
    margin-top: 10px;
}
a{
    color: #fff;
}
nav ul li a:hover{
    transition: 500ms;
    color: black;
}
a:visited{
    color: aquamarine;
}